.navbar-default{
  background-color: #FF4081;
}

.navbar-default .navbar-brand {
  color: white;
}

.navbar-default .navbar-toggle  {
  background-color: #2196F3;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:hover  {
  background-color: #2196F3;
}

.navbar-default .navbar-toggle .icon-bar  {
  background-color: white;
}

body { 
  padding-top: 70px; 
}

.h1-header {
  margin-bottom: 30px;
}

hr.no-margin  {
  margin: 0px;
}

.contenido  {
  position: relative;
  background-color: #BBDEFB;
  color: black;
  padding: 10px;
  height: 700px;
  margin-bottom: 20px;
}


.contenido h3 {
  text-transform: uppercase;
  padding: 5px;
  color: white;
}

.contenido span {
  position: absolute;
  bottom: 00px;
  right: 0%;
  background-color: #3F51B5;
  color: white;
  padding: 2%;
}


@media (max-width: 767px) {
  #coursera-menu  {
    background-color: #2196F3;
    color: white;
  }
  #coursera-menu .navbar-nav li a  {
    color: white;
  }

  #coursera-menu .navbar-nav li a:hover  {
    color: gray;
  }  
}