body { 
  padding-top: 70px; 
}

.h1-header {
  margin-bottom: 30px;
}

hr.no-margin  {
  margin: 0px;
}

.contenido  {
  position: relative;
  background-color: #FF5722;
  color: white;
  padding: 10px;
  height: 700px;
  margin-bottom: 20px;
}


.contenido h3 {
  text-transform: uppercase;
  padding: 5px;
  color: #727272;
}

.contenido span {
  position: absolute;
  bottom: 00px;
  right: 0%;
  background-color: #3F51B5;
  color: white;
  padding: 2%;
}


@media (max-width: 767px) {
  #coursera-menu  {
    background-color: #3F51B5;
    color: white;
  }
  #coursera-menu .navbar-nav li a  {
    color: white;
  }

  #coursera-menu .navbar-nav li a:hover  {
    color: gray;
  }  
}